<mat-sidenav-container class="sidebar-container">
  <!-- Сайдбар с фильтрами -->
  <mat-sidenav
    #filterSidebar
    position="start"
    mode="over"
    class="filter-sidebar"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <div class="sidebar-header">
      <button mat-icon-button (click)="filterSidebar.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="filter-content">
      <form action="" [formGroup]="filtersForm">
        <mat-form-field appearance="outline">
          <mat-label>Дата від</mat-label>
          <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" />
          <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Дата до</mat-label>
          <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" />
          <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Категорія інцидента</mat-label>
          <mat-select formControlName="category" multiple>
            @for (cat of incidentCategories; track cat) {
            <mat-option [value]="cat">{{ cat }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Важливість</mat-label>
          <mat-select formControlName="severity">
            @for (sev of incidentSeverity; track sev) {
            <mat-option [value]="sev.value">{{ sev.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="sidebar-actions">
      <button mat-stroked-button class="reset-btn" (click)="resetFilters()">Скинути фільтра</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button matMiniFab class="open-filter-btn" (click)="filterSidebar.open()">
      <mat-icon>filter_list</mat-icon>
    </button>

    <div class="main-content">
      @if (isLoading()) {
      <app-loader />
      }

      <div id="map"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
